



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
















/* Start Here */

.info{
    width: 100%;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #79bdb7;

    /* background-repeat: no-repeat; */
    /* padding-top: 20px;
    padding-bottom: 20px; */

}

.info .intro{
 width: 90%;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 50px;
 opacity: 0;
 transform: translateY(30px);
 transition: 1.5s;
}

.info .intro.fade-in{
    opacity: 1;
    transform: translateY(0px);
}

.info .intro h1{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 600;
    
}



.info .intro p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
    line-height: 25px;
}

.info .agenda{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(30px);
    transition: 1.5s;
}

.info .agenda.fade-in{
    opacity: 1;
    transform: translateY(0px);
}

#agenda .akad{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#akad h5{
    font-family: 'Ephesis', cursive;
    font-size: 45px;
    font-weight: 600;
    color: rgb(189, 154, 39);
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

#akad p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    text-align: center;
}

.info .lokasi{
    text-decoration: none;
    border: solid 1px black;
    width: 200px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(255, 250, 242);
    background-color: rgb(107, 98, 98);
    font-weight: 600;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
    box-shadow: 0 0 3px 1px;
}

.info .lokasi img{
    width: 20%;
    height: 80%;
}